/* Global */

body {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
}

/* Menu */

nav {
  padding: 0.8rem 4rem 0.8rem 4rem;
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

nav img {
  height: 2rem;
}

.menu {
  display: flex;
}

.menu li {
  margin: 0rem 1rem;
  list-style-type: none;
}

.menu li a {
  color: #FFF;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: 'arial', sans-serif;
  padding: 0.5rem;
  border-color: transparent;
}

.menu li a:hover {
  border: 1px solid #FECE1A;
}

.menu li a:link {
  border-width: 1px;
  border-style: solid;
}
